input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    border: 0;
    height: 41px;
    padding: .734em 2em;
    border-top-left-radius: 1.571em;
    border-bottom-left-radius: 1.571em;
}

.stylebtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .715em 2.134em;
    background-color: #333e48;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10%;
}

.listf a{
    font-size: 1em;
    color: #333e48;
}