
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap");



@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;800&display=swap');
body{background:
  url(image/mine.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: "Cinzel", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  color: rgb(26, 44, 206);
  font-weight: 800;
}
ul > li {
  margin: 1em;
  font-size: 1.3em;
}
.content{
  margin: 20px 30px;
  text-align: center;
  font-family: 'Rajdhani';
  padding: 1em;
}
